<!DOCTYPE html>
<html class="border_style">
  <head>
    <title>Notaflof</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1 id="banner1"><%= link_to 'notaflof', '/' %></h1>
      <p id="banner2">no one turned away for lack of funds</p>
    </div>
    
    <%= yield %>

    <div  class="footer">
      <h4 id="banner1">notaflof</h1>
    </div>
  </body>
</html>
