<!DOCTYPE html>
<html class="border_style">
  <head>
    <title>Notaflof</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="<%= venues_path %>">Venues</a>
      <a href="<%= shows_path %>">Shows</a>
      <a href="<%= artists_path %>">Artists</a>
      <a href="<%= '/login' %>" id="right_nav">Login</a>
      <a href="<%= new_user_path %>"id="right_nav">Signup</a>
    </div>  
    <div><h2 id="title">notaflof - a diy show/venue repository</h2></div>
    <%= yield %>
    <div class="footer">
      <p id="footer_text">notaflof - a diy show/venue repository</p>
    </div>
  </body>
</html>
